{%- doc -%}
  Renders a cart discount form.
  @param {string} section_id - The section ID
{%- enddoc -%}

{% liquid
  assign discount_codes = cart.cart_level_discount_applications | where: 'type', 'discount_code' | map: 'title'
  for item in cart.items
    for allocation in item.line_level_discount_allocations
      if allocation.discount_application.type == 'discount_code'
        assign discount_codes = item.line_level_discount_allocations | slice: forloop.index0 | map: 'discount_application' | map: 'title' | concat: discount_codes
      endif
    endfor
  endfor

  assign discount_codes = discount_codes | uniq

  # Evaluate the boolean expression for the disclosure state
  if discount_codes.size == 0
    assign disclosure_expanded = false
  else
    assign disclosure_expanded = true
  endif
%}
<cart-discount-component data-section-id="{{ section_id }}">
    <div class="cart-discount__content">
        <form on:submit="/applyDiscount" onsubmit="return false;" class="cart-discount__form field__form-with-button">
            <label for="cart-discount" class="visually-hidden" >{{- 'general.cart.discount' | t -}}</label>
            <div class="field">
                <input id="cart-discount"
                    class="field__input"
                    type="text"
                    name="discount"
                    placeholder="{{ 'general.cart.discount_code' | t }}"
                    required
                >
                <label class="field__label" for="cart-discount">{{ 'general.cart.discount_code' | t }}</label>
            </div>
            <button type="submit" class="btn btn--secondary {{ zoom }}" aria-label="{{- 'general.cart.discount' | t -}}">
                <span>{{ 'general.cart.apply' | t }}</span>
            </button>
        </form>
    </div>
    <div class="mt20 cart-discount__error body3 hidden"
         role="alert"
         ref="cartDiscountError"
        >
        <span class="svg-wrapper display-flex">{%- render "icon-attention" -%}</span>
        <p class="mt0 cart-discount__error-text cart-primary-typography hidden" ref="cartDiscountErrorDiscountCode">
        {{ 'general.cart.discount_code_error' | t: code: 'test' }}
        </p>
        <p class="mt0 cart-discount__error-text cart-primary-typography hidden" ref="cartDiscountErrorShipping">
        {{ 'general.cart.shipping_discount_error' | t }}
        </p>
    </div>
    <div class="cart-discount__codes">{%- for discount_code in discount_codes -%}
        <div class="cart-discount__pill"
            data-discount-code="{{ discount_code }}"
            aria-label="{{ 'general.cart.discount_applied' | t: code: discount_code }}"
            > 
            <button type="button"
                    class="cart-discount__pill-remove btn btn_border {{ zoom }}"
                    aria-label="{{ 'general.cart.remove_discount' | t: code: discount_code }}"
                >
                <span>{{ discount_code }}</span>{% render 'icon-close-small' %}
            </button>
        </div>
        {%- endfor -%}</div>
</cart-discount-component>
{% stylesheet %}
.cart-discount__pill-remove>*{
    pointer-events:none;
}
.discount-container{
    position:relative;
}
.discount-container:after{
    content:"";
    display:block;
    margin-top:var(--padding4);
    margin-bottom:var(--padding4);
    width:100%;
    height:1px;
    background:var(--color-base);
    opacity:0.3;
}
.cart-discount__error{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    color:var(--color-error);
}
.cart-discount__error svg path,
.cart-discount__error svg.theme-icon path{
    fill:var(--color-error);
}
.cart-discount__codes{
    display:flex;
    flex-wrap:wrap;
    gap:10px; 
}
.cart-discount__codes:not(:empty){
    margin-top:20px;
}
{% endstylesheet %}