<facet-filters-form>
  <form id="FacetFiltersForm" class="facets__form">

    {%- if results.terms -%}
    <input type="hidden" name="q" value="{{ results.terms | escape }}">
    <input name="options[prefix]" type="hidden" value="last">
    {%- endif -%}
    {% if results.current_vendor or results.current_type %}
    <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
    {% endif %}
    {%- if enable_sorting -%}
    {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
    {%- for option in results.sort_options -%}
    {%- if option.value == sort_by -%}
    <input type="hidden" name="sort_by" id="SortBy" value="{{ option.value | escape }}">
    {%- break -%}
    {%- endif -%}
    {%- endfor -%}
    {%- endif -%}

    {%- if enable_sorting -%}
    <noscript class="facets__disclosure-no-js facets__disclosure-no-js__container">
      <div class="field facets__disclosure__select">
        {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
        <select name="sort_by" class="field__input" id="SortBy">
          {%- for option in results.sort_options -%}
          <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
          {%- endfor -%}
        </select>
        <div class="field__icon field__icon--select">
          {% render 'icon-arrow-down-small' %}
        </div>
        <label class="field__label" for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
      </div>
      <button type="submit" class="btn btn--secondary btn_zoom">
        <span>
          {{ 'products.facets.sort_button' | t }}
        </span>
      </button>
    </noscript>
    {%- endif -%}
    <toggle-component id="FacetsWrapperDesktop"{% if request.design_mode %} class="admin-panel--no-js"{% endif %}>
      {%- for filter in results.filters -%}
      {% liquid
        assign total_active_values = total_active_values | plus: filter.active_values.size
        case filter.presentation
          when 'swatch'
            assign has_visual_display = true
          else
            assign has_visual_display = false
        endcase
        assign filters_data = "," | append:settings.filter_tabs | append:"," | downcase
        assign current_data = "," | append:filter.label | append: "," | downcase
        if filters_data contains current_data
        assign has_visual_display = true
        endif
      %}
      {% case filter.type %}
      {% when 'boolean', 'list' %}
     <details id="Details-{{ filter.param_name | escape }}-{{ section.id }}" class="js-filter chm-toggle {% if section.settings.enable_filtering != "enable_closed" %} toggle-opening{% endif %}"{% if section.settings.enable_filtering != "enable_closed" %} open{% endif %}
              data-index="{{ forloop.index }}">
        <summary class="chm-toggle__button{% if has_visual_display %} chm-toggle__button--mb20{% endif %}">
          <span class="h5">{{ filter.label | escape }}</span>
          {%- render "icon-arrow-down-small" -%}
        </summary>
        <div class="mt0 chm-toggle__content mt--first-child-0">
          {%- if filter.operator == 'AND' -%}
          <div class="facets__header facets__header__filter_and_operator">
            <p class="mt0 body2{% if has_visual_display %} operator-visual-display{% endif %}">{{ 'products.facets.filter_and_operator_subtitle' | t }}</p>
          </div>
          {%- endif -%}
          <div class="facets__display__content">
            <ul class="unstyle-ul facets-wrap{% if has_visual_display %} parent-visual-display{% endif %}" role="list">
              {%- liquid
                assign sorted_values = filter.values
                # Keep the selected values grouped together when operator is AND
                if filter.operator == 'AND'
                  assign active_filter_values = filter.values | where: 'active', true
                  assign inactive_filter_values = filter.values | where: 'active', false
                  assign sorted_values = active_filter_values | concat: inactive_filter_values
                endif
              -%}
        
              {%- for value in sorted_values -%}
              {%- liquid
                assign main_count = 10
                if has_visual_display
                if value.display.type == "colors"
                assign main_count = 20
                elsif value.display.type == "image"
                if settings.filter_image_grid == "3"
                assign main_count = 6
                elsif settings.filter_image_grid == "4"
                assign main_count = 12
                endif
                else
                assign main_count = 8
                endif
                endif
              -%}
              {%- if forloop.index <= main_count -%}
              <li class="{% unless has_visual_display %}facets__item{% endunless %}{% if forloop.index == main_count %} facets__items--hide-latest{% endif %}"
                  {% if has_visual_display %} data-filter-type="{% if value.display.type == "colors" %}colors{% elsif value.display.type == "image" %}image{% else %}buttons{% endif %}"{% endif %}
                  {% if has_visual_display and value.display.type == "image" %}data-grid="{{ settings.filter_image_grid }}"{% endif %}>
                <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                  <input type="checkbox"
                         name="{{ value.param_name }}"
                         value="{{ value.value }}"
                         id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                         {% if value.active %}checked{% endif %}
                         {% if value.count == 0 and value.active == false %}disabled{% endif %}
                         >
                  {%- if has_visual_display -%}
                    {% render 'visual-display',
                      type: value.display.type,
                      value: value.display.value,
                      value_main: value,
                      presentation: filter.presentation,
                      enable_products_count:enable_products_count
                    %}
                  {%- else -%}
                  <div class="facet-checkbox__checkmark">
                    <div class="facet-checkbox__flip btn--secondary">
                      <div class="facet-checkbox__front"></div>
                      <div class="facet-checkbox__back">
                        {%- render "icon-checkmark" -%}
                      </div>
                    </div>
                  </div>
                  <span>{{ value.label | escape }}</span>
                  {% if enable_products_count %}<span class="facet-checkbox__count">{{ value.count }}</span>{% endif %}
                  {%- endif -%}
                </label>
              </li>
              {%- else -%}
              <li {% unless has_visual_display %}class="facets__item"{% endunless %}
                  {% if has_visual_display %} data-filter-type="{% if value.display.type == "colors" %}colors{% elsif value.display.type == "image" %}image{% else %}buttons{% endif %}"{% endif %}
                  {% if has_visual_display and value.display.type == "image" %}data-grid="{{ settings.filter_image_grid }}"{% endif %}>
                <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                  <input type="checkbox"
                         name="{{ value.param_name }}"
                         value="{{ value.value }}"
                         id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                         {% if value.active %}checked{% endif %}
                         {% if value.count == 0 and value.active == false %}disabled{% endif %}
                         >
                  {%- if has_visual_display -%}
                    {% render 'visual-display',
                      type: value.display.type,
                      value: value.display.value,
                      value_main: value,
                      presentation: filter.presentation,
                      enable_products_count:enable_products_count
                    %}
                  {%- else -%}
                  <div class="facet-checkbox__checkmark">
                    <div class="facet-checkbox__flip btn--secondary">
                      <div class="facet-checkbox__front"></div>
                      <div class="facet-checkbox__back">
                        {%- render "icon-checkmark" -%}
                      </div>
                    </div>
                  </div>
                  <span>{{ value.label | escape }}</span>
                  {% if enable_products_count %}<span class="facet-checkbox__count">{{ value.count }}</span>{% endif %}
                  {%- endif -%}
                </label>
              </li>
              {%- endif -%}
              {%- endfor -%}
              {%- if filter.values.size > main_count -%}
              <li class="facets__item facets__button-show-all">
                <show-all-facets class="btn-small color-accent-to-base"
                                 data-show="{{ 'products.facets.show_all' | t }}"
                                 data-hide="{{ 'products.facets.hide' | t }}">
                </show-all-facets>
              </li>
              {%- endif -%}
            </ul>
            <noscript class="facets__disclosure-no-js">
              <button type="submit" class="btn btn--secondary btn_zoom">
                <span>
                  {{ 'products.facets.filter_button' | t }}
                </span>
              </button>
            </noscript>
          </div>
        </div>
      </details>
      
      {% when 'price_range' %}
      <details id="Details-{{ filter.param_name | escape }}-{{ section.id }}" class="js-filter chm-toggle{% if section.settings.enable_filtering != "enable_closed" %} toggle-opening{% endif %}"{% if section.settings.enable_filtering != "enable_closed" %} open{% endif %}
               data-index="{{ forloop.index }}">
        <summary class="chm-toggle__button">
          <span class="h5">{{ filter.label | escape }}</span>
          {%- render "icon-arrow-down-small" -%}
        </summary>
        <div class="mt0 chm-toggle__content mt--first-child-0">
          <div class="facets__header">
            {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
            <span class="facets__selected">{{ "products.facets.max_price" | t: price: max_price_amount }}</span>
            <facet-remove>
              <a href="{{ filter.url_to_remove }}" class="btn-small color-accent-to-base">
                {{ 'products.facets.reset' | t }}
              </a>
            </facet-remove>
          </div>
          <price-range class="facets__price">
            <div class="facets__price__item">
              <div class="field">
                <input class="field__input"
                       name="{{ filter.min_value.param_name }}"
                       id="Filter-{{ filter.label | escape }}-GTE"
                       {% if filter.min_value.value %}
                       value="{{ filter.min_value.value | money_without_currency }}"
                       {% endif %}
                       type="text"
                       inputmode="decimal"
                       placeholder="0"
                       min="0"
                       max="{{ filter.range_max | money_without_currency }}"
                       >
                <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">{{ cart.currency.symbol }} {{ 'products.facets.from' | t }}</label>
              </div>
            </div>
            <div class="facets__price__item">
              <div class="field">
                <input class="field__input"
                       name="{{ filter.max_value.param_name }}"
                       id="Filter-{{ filter.label | escape }}-LTE"
                       {% if filter.max_value.value %}
                       value="{{ filter.max_value.value | money_without_currency }}"
                       {% endif %}
                       type="text"
                       inputmode="decimal"
                       min="0"
                       max="{{ filter.range_max | money_without_currency }}"
                       placeholder="{{ filter.range_max | money_without_currency }}"
                       >
                <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">{{ cart.currency.symbol }} {{ 'products.facets.to' | t }}</label>
              </div>
            </div>
          </price-range>
          <noscript class="facets__disclosure-no-js">
            <button type="submit" class="btn btn--secondary btn_zoom">
              <span>
                {{ 'products.facets.filter_button' | t }}
              </span>
            </button>
          </noscript>
        </div>
      </details>
      
      {% endcase %}
      {%- endfor -%}

    </toggle-component>
  </form>
</facet-filters-form>