{%- if section.settings.design_type == "text-below-image" -%}
{%- assign css_file = 'section-collection-list.css' -%}
{%- assign colection_type = 'type1' -%}
{%- else -%}
{%- assign css_file = 'section-collection-list-type2.css' -%}
{%- assign colection_type = 'type2' -%}
{%- endif -%}

{%- if settings.animate_content_show -%}
<link rel="stylesheet" href="{{ css_file | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ css_file | asset_url | stylesheet_tag }}</noscript>
{%- if section.settings.swipe_on_mobile -%}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- else -%}
{{ css_file | asset_url | stylesheet_tag }}
{%- if section.settings.swipe_on_mobile -%}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- endif -%}

{%- render "section-background" section:section -%}

{%- if section.settings.design_type == "text-over-image" -%}
{%- capture section_styles -%}
{%- if section.settings.color_texts != "rgba(0,0,0,0)" -%}
.collection-list-type2-{{ section.id }} .collection-list-type2{
  color: {{ section.settings.color_texts }};
}
.collection-list-type2-{{ section.id }} .collection-list-type2-pad{
  --color-base: {{ section.settings.color_texts }};
}
{%- endif -%}
{%- if section.settings.color_button != "rgba(0,0,0,0)" -%}
.collection-list-type2-{{ section.id }} .collection-list-type2__icon:before{
  --color-accent: {{ section.settings.color_button }};
}
{%- assign accent_brightness = section.settings.color_button | color_extract: 'lightness' -%}
{%- else -%}
{%- assign accent_brightness = settings.color_accent | color_extract: 'lightness' -%}
{%- endif -%}
.collection-list-type2-{{ section.id }} .collection-list-type2__icon svg path{
  {%- if accent_brightness < 50 -%}
  --color-icon-arrow: var(--auto-text-color-button-light);
  {%- else -%}
  --color-icon-arrow: var(--auto-text-color-button-dark);
  {%- endif -%}
}
{%- if section.settings.color_button_hover != "rgba(0,0,0,0)" -%}
.collection-list-type2-{{ section.id }} .collection-list-type2:hover .collection-list-type2__icon:before{
  --color-base: {{ section.settings.color_button_hover }};
}
{%- assign accent_brightness = section.settings.color_button_hover | color_extract: 'lightness' -%}
{%- else -%}
{%- assign accent_brightness = settings.color_base | color_extract: 'lightness' -%}
{%- endif -%}
.collection-list-type2-{{ section.id }} .collection-list-type2:hover .collection-list-type2__icon svg path{
  {% if accent_brightness < 50 %}
  --color-icon-arrow-hover: var(--auto-text-color-button-light);
  {%- else -%}
  --color-icon-arrow-hover: var(--auto-text-color-button-dark);
  {%- endif -%}
}
{%- endcapture -%}
{%- endif -%}
{%- if section.settings.design_type == "text-below-image" -%}
{%- capture section_styles -%}
{%- if section.settings.color_texts_type1 != "rgba(0,0,0,0)" -%}
.collection-list-type1-{{ section.id }} .collection-list-type1{
  --color-base: {{ section.settings.color_texts_type1 }};
}
{%- endif -%}
{%- if section.settings.color_item_bg != "rgba(0,0,0,0)" -%}
.collection-list-type1-{{ section.id }} .collection-list-type1{
  --color-secondary-background:{{ section.settings.color_item_bg }};
}
{%- endif -%}
{%- endcapture -%}
{%- endif -%}
{%- if section_styles != blank -%}
<style>
  @media (min-width: 577px){
    {{ section_styles }}
  }
</style>
{%- endif -%}

{%- capture section_styles -%}
{%- if section.settings.color_texts_mobile != "rgba(0,0,0,0)" -%}
@media (max-width:576px){
  .collection-list-type1-{{ section.id }} .collection-list-type1,
  .collection-list-type2-{{ section.id }} .collection-list-type2{
    --color-base: {{ section.settings.color_texts_mobile }};
  }
}
{%- endif -%}
{%- if section.settings.color_swipe_buttons  != "rgba(0,0,0,0)" -%}
.collection-list-{{ colection_type }}-{{ section.id }} .slider__button{
  --color-base:{{ section.settings.color_swipe_buttons }};
}
{%- endif -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>
  {{ section_styles }}
</style>
{%- endif -%}

<div id="minion-section-{{ section.id }}" class="collection-list-{{ colection_type }}-{{ section.id }} top-spacing-{{ section.settings.top_spacing }}{% if section.settings.background != 'hide' and section.settings.background_width == "fullwidth" %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="section.settings.design_type">
  <div class="{% if section.settings.width != "default" %}{{ section.settings.width }}{% else %}{{ settings.page_width_main }}{% endif %} mb--last-child-0">
    {% if section.settings.background != 'hide' and section.settings.background_width == "content_width" %}<div class="section-background section-background--{{ section.settings.background_spacing }} border__radius mb--last-child-0">{%- endif -%}
    
    {%- liquid
    	if section.settings.link_name != blank
          assign show_heading_always = true
        else
          assign show_heading_always = false
        endif
    -%}
    
    {%- render "section-heading" section:section show_heading_always:show_heading_always -%}
    
    {%- if section.blocks.size > 0 -%}
    <div class="position-relative">
      <slider-component class="grid el_mt_40 {{ section.settings.texts_aligment }}{% if section.settings.swipe_on_mobile %} slider slider--phone{% endif %}{% if section.settings.heading_aligment == "text-center" %} justify-content-center--no-phone{% endif %}">
        {%- for block in section.blocks -%}
        <div class="col-sp-{{ section.settings.mobile_grid }} {{ section.settings.grid }}{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}" {{ block.shopify_attributes }}>

          {%- if block.settings.collection == blank -%}
          <div class="collection-list-{{ colection_type }}{% if settings.enable_zoom_animation %} image-hover-scaling-up{% endif %} hover-area">
            <div class="image-hover-scaling__image placeholder__svg--bg border__radius{% if section.settings.design_type == "text-below-image" %}-top{% endif %}"{% if section.settings.image_ratio != 'auto' %} style="--aspect-ratio: {{section.settings.image_ratio}};"{% endif %}>
              
              {%- capture placeholder_name -%}
              {%- cycle 'collection-1', 'collection-2', 'collection-3', 'collection-4', 'collection-5', 'collection-6' -%}
              {%- endcapture -%}
              {%- render "icons-placeholder-collection", icon_name:placeholder_name -%}

            </div>
            <div class="collection-list-{{ colection_type }}-pad {{ section.settings.texts_aligment_mobile }}">
              <div class="h5{% if section.settings.hover_underline %} animation-underline{% endif %}">{{ 'onboarding.collection_title' | t }}</div>
              {%- if section.settings.show_products_count -%}
              <p class="body2 mt3">{{ 'sections.collection_list.items_count' | t: count: 0 }}</p>
              {%- endif -%}
            </div>
          </div>
          {%- else -%}

          {%- liquid
          if block.settings.custom_link != blank
          assign href = block.settings.custom_link
          else
          assign href = block.settings.collection.url
          endif
          -%}

          <a href="{{ href }}" class="collection-list-{{ colection_type }} a--remove-hover-underline{% if settings.enable_zoom_animation %} image-hover-scaling-up{% endif %} hover-area">
            {%- capture image_ratio -%}
            {%- if section.settings.image_ratio == 'auto' -%}
            {%- if block.settings.image != blank -%}{{block.settings.image.aspect_ratio}}
            {%- elsif block.settings.collection.image != blank -%}{{block.settings.collection.image.aspect_ratio}}
            {%- else -%}1
            {%- endif -%}
            {%- else -%}
            {{ section.settings.image_ratio }}
            {%- endif -%}
            {%- endcapture -%}

            {%- if block.settings.image == blank and block.settings.collection.image == blank -%}
            {%- assign placeholder__svg = ' placeholder__svg--bg' -%}
            {%- endif -%}
            <div class="image-hover-scaling__image border__radius{% if section.settings.design_type == "text-below-image" %}-top{% endif %}{{ placeholder__svg }}" style="--aspect-ratio: {{image_ratio}};">

              {%- liquid
                  if section.settings.width == "page-wide"
                  assign page_is_wide = true
                  else
                  assign page_is_wide = false
                  endif
              -%}
              {%- if block.settings.image != blank -%}
              {%- assign image = block.settings.image -%}
              {%- capture sizes -%}
              (min-width: 1440px) {% if page_is_wide %}calc((100vw - {{ settings.spacing_grid_horizontal }}px) / 2){% else %}calc(({{ settings.page_width }}px - 20px) / 2){% endif %},(min-width: 1025px) calc((100vw - 140px) / 2),(min-width: 577px) calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2),calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2)
              {%- endcapture -%}
              {%- capture image_class -%}{% if settings.animate_image_show %}image-show--fadein{% endif %}{%- endcapture -%}
              {%- capture animate_image_show -%}{% if settings.animate_image_show %}this.classList.add('image-loaded');{% endif %}{%- endcapture -%}
              {{
                image
                | image_url: width: image.width
                | image_tag:
                  loading: 'lazy',
                  width: image.width,
                  height: image.height,
                  sizes: sizes,
                  widths: '180, 400, 470, 620, 1240',
                  class: image_class,
                  onload: animate_image_show
              }}
              {%- elsif block.settings.collection.featured_image != blank -%}
              {%- assign image = block.settings.collection.featured_image -%}    
              <img srcset="{%- if image.width >= 180 -%}{{ image | image_url: width: 180 }} 180w,{%- endif -%}
                           {%- if image.width >= 400 -%}{{ image | image_url: width: 390 }} 400w,{%- endif -%}
                           {%- if image.width >= 470 -%}{{ image | image_url: width: 470 }} 470w,{%- endif -%}
                           {%- if image.width >= 620 -%}{{ image | image_url: width: 620 }} 620w,{%- endif -%}
                           {%- if image.width >= 1240 -%}{{ image | image_url: width: 1240 }} 1240w,{%- endif -%}
                           {{ image | image_url }} {{ image.width }}w"
                   src="{{ image | image_url: width: 400 }}"
                   sizes="(min-width: 1440px) {% if page_is_wide %}calc((100vw - {{ settings.spacing_grid_horizontal }}px) / 2){% else %}calc(({{ settings.page_width }}px - 20px) / 2){% endif %},(min-width: 1025px) calc((100vw - 140px) / 2),(min-width: 577px) calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2),calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2)"
                   width="{{ image.width }}"
                   height="{{ image.height }}"
                   loading="lazy"
                   alt="{{ image.alt | escape }}"
                   {% render "additional-image-attributes" %}
                   >
              {%- else  -%}
              
              {%- capture placeholder_name -%}
              {%- cycle 'collection-1', 'collection-2', 'collection-3', 'collection-4', 'collection-5', 'collection-6' -%}
              {%- endcapture -%}
              {%- render "icons-placeholder-collection", icon_name:placeholder_name -%}

              {%- endif -%}

            </div>

            <div class="collection-list-{{ colection_type }}-pad {{ section.settings.texts_aligment_mobile }}">
              <div class="h5 {% if section.settings.hover_underline %} animation-underline{% endif %}">
                {%- if block.settings.collection_name != blank -%}
                {{- block.settings.collection_name -}}
                {%- else -%}
                {{- block.settings.collection.title | escape -}}
                {%- endif -%}
              </div>

              {%- if section.settings.show_products_count -%}
              <p class="body2 mt3">{{ 'sections.collection_list.items_count' | t: count: block.settings.collection.products_count }}</p>
              {%- endif -%}
            </div>
            {%- if section.settings.design_type == "text-over-image" -%}
            <div class="collection-list-type2__icon">
              {%- render "icon-arrow-right" -%}
            </div>
			{%- endif -%}
          </a>

          {%- endif -%}

        </div>
        {%- endfor -%}
      </slider-component>
      
      {%- liquid
          if section.settings.mobile_grid == "6"
          assign devider = 2.0
          else
          assign devider = 1.0
          endif
      -%}
      {%- assign length = section.blocks.size | divided_by: devider | ceil -%}
      {%- if section.settings.swipe_on_mobile and length > 1 -%}
      <div class="mt40 grid slider__buttons slider--phone">
        <div class="col-12">
          {%- liquid
              capture alignment
              if section.settings.heading_aligment == "text-center"
              echo "justify-content-center"
              endif
              endcapture
              render "slider-buttons", alignment:alignment, length:length
          -%}
        </div>
      </div>
      {%- endif -%}

      {%- if section.settings.link_name != blank -%}
      <div class="mt40 grid section-btn-small-container {{ section.settings.heading_aligment }}">
        <div class="col-12">
          {%- if section.settings.color_link != "rgba(0,0,0,0)" -%}
          {%- assign color_link = ' style="--color-accent:' | append: section.settings.color_link | append: ';"' -%}
          {%- endif -%}
          <a{% if section.settings.link_url != blank %} href="{{ section.settings.link_url }}"{% endif %} class="btn-small"
             {% if section.settings.link_url == blank %} aria-disabled="true"{% endif %}{{ color_link }}
             >{{ section.settings.link_name }}</a>
        </div>
      </div>
      {%- endif -%}

    </div>
    {%- endif -%}
    {% if section.settings.background != 'hide' and section.settings.background_width == "content_width" %}</div>{%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.collection-list.name",
  	"tag": "section",
    "settings": [
	  {
		"type": "text",
		"id": "subheading",
		"default": "SUBHEADING",
		"label": "t:sections.general.settings.subheading.label"
	  },
	  {
		"type": "text",
		"id": "heading",
		"default": "Collection list",
		"label": "t:sections.general.settings.heading.label"
	  },
	  {
		"type": "select",
		"id": "heading_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center",
		"label": "t:sections.general.settings.heading_aligment.label",
		"info": "t:sections.general.settings.heading_aligment.info"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.name_link.label"
      },
	  {
		"type": "text",
		"id": "link_name",
		"default": "Shop all",
		"label": "t:sections.collection-list.settings.link_name.label"
	  },
      {
        "type": "url",
        "id": "link_url",
        "label": "t:sections.collection-list.settings.link_url.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "default",
            "label": "t:sections.general.settings.width.options__default.label"
          },
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "default",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "select",
        "id": "grid",
        "options": [
          {
            "value": "col-6",
            "label": "t:sections.general.settings.grid.options__2.label"
          },
          {
            "value": "col-4",
            "label": "t:sections.general.settings.grid.options__3.label"
          },
          {
            "value": "col-md-6 col-3",
            "label": "t:sections.general.settings.grid.options__4.label"
          },
          {
            "value": "col-md-4 col-one_fifth",
            "label": "t:sections.general.settings.grid.options__5.label"
          },
          {
            "value": "col-md-4 col-2",
            "label": "t:sections.general.settings.grid.options__6.label"
          }
        ],
        "default": "col-md-4 col-2",
        "label": "t:sections.general.settings.grid.label"
      },
      {
        "type": "select",
        "id": "mobile_grid",
        "options": [
          {
            "value": "12",
            "label": "t:sections.general.settings.mobile_grid.options__1.label"
          },
          {
            "value": "6",
            "label": "t:sections.general.settings.mobile_grid.options__2.label"
          }
        ],
        "default": "6",
        "label": "t:sections.general.settings.mobile_grid.label"
      },
      {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "t:sections.general.settings.swipe_on_mobile.label"
      },
      {
      "type": "header",
      "content": "t:sections.collection-list.settings.header_collections.content"
      },
	  {
		"type": "select",
		"id": "design_type",
		"options": [
		  {
			"value": "text-below-image",
			"label": "t:sections.collection-list.settings.design_type.option_1.label"
		  },
		  {
			"value": "text-over-image",
			"label": "t:sections.collection-list.settings.design_type.option_2.label"
		  }
		],
		"default": "text-below-image",
		"label": "t:sections.collection-list.settings.design_type.label"
	  },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "auto",
			"label": "t:sections.general.settings.image_ratio.options__auto.label"
          },
          {
            "value": "0.75",
			"label": "t:sections.general.settings.image_ratio.options__portrait.label"
          },
          {
            "value": "1.333333",
			"label": "t:sections.general.settings.image_ratio.options__landscape.label"
          },
          {
            "value": "1",
			"label": "t:sections.general.settings.image_ratio.options__square.label"
          }
        ],
        "default": "auto",
        "label": "t:sections.general.settings.image_ratio.label"
      },
	  {
		"type": "select",
		"id": "texts_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center",
		"label": "t:sections.general.settings.texts_aligment.label"
	  },
      {
        "type": "checkbox",
        "id": "hover_underline",
        "default": false,
        "label": "t:sections.general.settings.hover_underline.label"
      },
      {
        "type": "checkbox",
        "id": "show_products_count",
        "default": true,
		"label": "t:sections.collection-list.settings.show_products_count.label"
      },
	  {
		"type": "select",
		"id": "texts_aligment_mobile",
		"options": [
		  {
			"value": "text-left-mobile",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center-mobile",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center-mobile",
		"label": "t:sections.collection-list.settings.texts_aligment_mobile.label"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_colors.content"
      },
      {
        "type": "color",
        "id": "color_subheading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.subheading.label"
      },
      {
        "type": "color",
        "id": "color_heading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.heading.label"
      },
      {
        "type": "color",
        "id": "color_link",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.name_link.label"
      },
      {
        "type": "color",
        "id": "color_swipe_buttons",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.color_swipe_buttons.label"
      },
      {
        "type": "paragraph",
		"content": "t:sections.collection-list.settings.paragraph_1.content"
      },
      {
        "type": "color",
        "id": "color_item_bg",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.collection-list.settings.color_item_bg.label"
      },
      {
        "type": "color",
        "id": "color_texts_type1",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.collection-list.settings.color_texts.label"
      },
      {
        "type": "paragraph",
		"content": "t:sections.collection-list.settings.paragraph_2.content"
      },
      {
        "type": "color",
        "id": "color_texts",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.collection-list.settings.color_texts.label"
      },
      {
        "type": "color",
        "id": "color_button",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.collection-list.settings.color_button.label"
      },
      {
        "type": "color",
        "id": "color_button_hover",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.collection-list.settings.color_button_hover.label"
      },
      {
        "type": "paragraph",
		"content": "t:sections.collection-list.settings.paragraph_3.content"
      },
      {
        "type": "color",
        "id": "color_texts_mobile",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.collection-list.settings.color_texts.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_background.content"
      },
      {
        "type": "select",
        "id": "background",
        "options": [
          {
            "value": "hide",
            "label": "t:sections.general.settings.background.options__hide.label"
          },
          {
            "value": "color",
            "label": "t:sections.general.settings.background.options__color.label"
          },
          {
            "value": "gradient",
            "label": "t:sections.general.settings.background.options__gradient.label"
          },
          {
            "value": "image",
            "label": "t:sections.general.settings.background.options__image.label"
          }
        ],
        "default": "hide",
        "label": "t:sections.general.settings.background.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'color' }}",
        "type": "color",
        "id": "color_background",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.color_background.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'gradient' }}",
	      "type": "color_background",
        "id": "gradient",
	      "label": "t:sections.general.settings.gradient.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.general.settings.background_image"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank }}",
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.general.settings.image_overlay_opacity",
        "default": 0
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank and section.settings.image_overlay_opacity > 0 }}",
        "type": "color",
        "id": "image_overlay_color",
        "default":"rgba(0,0,0,0)",
        "label": "t:sections.general.settings.image_overlay_color"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "t:sections.general.settings.background_image_mobile"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank }}",
        "type": "range",
        "id": "image_overlay_opacity_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.general.settings.image_overlay_opacity_mobile",
        "default": 0
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank and section.settings.image_overlay_opacity_mobile > 0 }}",
        "type": "color",
        "id": "image_overlay_color_mobile",
        "default":"rgba(0,0,0,0)",
        "label": "t:sections.general.settings.image_overlay_color_mobile"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "select",
        "id": "imagealign",
        "label": "t:sections.general.settings.imagealign.label",
        "info": "t:sections.general.settings.imagealign.info",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "t:sections.general.settings.imagealign.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.general.settings.imagealign.options__2.label"
          },
          {
            "value": "bottom",
            "label": "t:sections.general.settings.imagealign.options__3.label"
          }
        ]
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "select",
        "id": "imagesize",
        "label": "t:sections.general.settings.imagesize.label",
        "info": "t:sections.general.settings.imagesize.info",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "t:sections.general.settings.imagesize.options__1.label"
          },
          {
            "value": "contain",
            "label": "t:sections.general.settings.imagesize.options__2.label"
          }
        ]
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "select",
        "id": "background_width",
        "options": [
          {
            "value": "fullwidth",
            "label": "t:sections.general.settings.background_width.options__1.label"
          },
          {
            "value": "content_width",
            "label": "t:sections.general.settings.background_width.options__2.label"
          }
        ],
        "default": "fullwidth",
        "label": "t:sections.general.settings.background_width.label"
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "select",
        "id": "background_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.background_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.background_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.background_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.background_spacing.options__normal.label"
          }
        ],
        "default": "normal",
        "label": "t:sections.general.settings.background_spacing.label"
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "checkbox",
        "id": "remove_bottom_spacing",
        "default": false,
        "label": "t:sections.general.settings.remove_bottom_spacing.label"
      }
	],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "t:sections.collection-list.blocks.featured_collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.general.settings.image.label"
          },
          {
            "type": "text",
            "id": "collection_name",
			"label": "t:sections.collection-list.blocks.featured_collection.settings.collection_name.label"
          },
          {
            "type": "url",
            "id": "custom_link",
			"label": "t:sections.collection-list.blocks.featured_collection.settings.custom_link.label",
			"info": "t:sections.collection-list.blocks.featured_collection.settings.custom_link.info"
          }
        ]
      }
    ],
    "presets": [
      {
      	"name": "t:sections.collection-list.presets.name",
        "category": "t:categories.collections",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ],
	"templates": ["404", "article", "blog", "cart", "collection", "list-collections", "gift_card", "index", "page", "product", "search"]
  }
{% endschema %}