{%- if settings.animate_content_show -%}
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-card.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-product-card.css' | asset_url | stylesheet_tag }}</noscript>
{%- if settings.swatches_design != 'none' and settings.enable_color_swatches -%}
<link rel="stylesheet" href="{{ 'product-card-variants.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'product-card-variants.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if section.settings.swipe_on_mobile or section.settings.desktop_slider contains "show" -%}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- else -%}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{%- if settings.swatches_design != 'none' and settings.enable_color_swatches -%}
{{ 'product-card-variants.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- if section.settings.swipe_on_mobile or section.settings.desktop_slider contains "show" -%}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- endif -%}

{%- capture section_styles -%}
{%- if section.settings.color_meta != "rgba(0,0,0,0)" -%}
#recently-viewed-products-{{ section.id }} .product-card__meta{
  --color-base:{{section.settings.color_meta}};
}
{%- endif -%}
{%- if section.settings.background != 'hide' -%}
{%- liquid
	capture color
	if section.settings.background == 'color'
    echo section.settings.color_background
    else
    echo section.settings.gradient
    endif
    endcapture
-%}
{%- if color != "rgba(0,0,0,0)" and color != blank -%}
#recently-viewed-products-{{ section.id }}{
  --color-section-background: {{ color }};
}
{%- endif -%}
{%- if section.settings.remove_bottom_spacing -%}
#recently-viewed-products-{{ section.id }}.section-background,
#recently-viewed-products-{{ section.id }} .section-background{
  padding-bottom: 0;
}
{%- endif -%}
{%- endif -%}
{%- if section.settings.color_button_quickview != "rgba(0,0,0,0)" -%}
{%- assign accent_brightness = section.settings.color_button_quickview | color_extract: 'lightness' -%}
#recently-viewed-products-{{ section.id }} .btn.btn-quickview{
  --background: {{ section.settings.color_button_quickview }};
  {%- if accent_brightness < 50 -%}
  --color: var(--auto-text-color-button-light);
  --fill: var(--auto-text-color-button-light);
  {%- else -%}
  --color: var(--auto-text-color-button-dark);
  --fill: var(--auto-text-color-button-dark);
  {%- endif -%}
}
{%- endif -%}
{%- if section.settings.color_price  != "rgba(0,0,0,0)" -%}
#recently-viewed-products-{{ section.id }} .price__main-color,
#recently-viewed-products-{{ section.id }} .price__regular{
  color:{{ section.settings.color_price }};
}
{%- endif -%}
{%- if section.settings.color_save_price  != "rgba(0,0,0,0)" -%}
#recently-viewed-products-{{ section.id }} .price__sale{
  color:{{ section.settings.color_save_price }};
}
{%- endif -%}
{%- if section.settings.color_swipe_buttons  != "rgba(0,0,0,0)" -%}
#recently-viewed-products-{{ section.id }} .slider__button{
  --color-base:{{ section.settings.color_swipe_buttons }};
}
{%- endif -%}
{%- if section.settings.color_all_elements  != "rgba(0,0,0,0)" -%}
#recently-viewed-products-{{ section.id }} .product-card__variant-count__value,
#recently-viewed-products-{{ section.id }} .unit-price{
  color:{{ section.settings.color_all_elements }};
}
#recently-viewed-products-{{ section.id }} .product-card__heading,
#recently-viewed-products-{{ section.id }} .product-card__variant-item{
  --color-base:{{ section.settings.color_all_elements }};
}
#recently-viewed-products-{{ section.id }} .btn-small:before,
#recently-viewed-products-{{ section.id }} .btn-medium:before,
#recently-viewed-products-{{ section.id }} .btn-medium--icon>span:before {
  --color-accent:{{ section.settings.color_all_elements }};
}
#recently-viewed-products-{{ section.id }} .product-card__variant-item__button{
  --color-base:{{ section.settings.color_all_elements }};
  border-color:{{ section.settings.color_all_elements | color_modify: 'alpha', 0.3 }};
}
{%- endif -%}
{%- if section.settings.color_border_1  != "rgba(0,0,0,0)" -%}
#recently-viewed-products-{{ section.id }} .product-card__variant-item:before{
  --color-base:{{ section.settings.color_border_1 }};
}
{%- endif -%}
{%- if section.settings.color_border_2  != "rgba(0,0,0,0)" -%}
#recently-viewed-products-{{ section.id }} .product-card__variant-item:after{
  --color-body-background:{{ section.settings.color_border_2 }};
}
{%- endif -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>{{ section_styles }}</style>
{%- endif -%}

{%- capture page_width -%}{%- if section.settings.width != "default" %}{{ section.settings.width }}{%- else -%}{{ settings.page_width_main }}{%- endif -%}{%- endcapture -%}
<recently-viewed-products id="recently-viewed-products-{{ section.id }}"
                          class="top-spacing-{{ section.settings.top_spacing }} display-block hide{% if section.settings.background != 'hide' and section.settings.background_width == "fullwidth" %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
                          data-settings="{{ section.settings.texts_aligment }}___{{ section.settings.swipe_on_mobile }}___{{ page_width }}___{{ section.settings.grid | replace: ' ', '--' }}___{{ section.settings.mobile_grid }}___{{ section.settings.image_ratio | replace: ', ', '--' }}___{{ section.settings.show_button_quickview }}___{{ section.settings.show_badge_sold_out }}___{{ section.settings.show_badge_on_sale }}___{{ section.settings.show_badge_feature }}___{{ section.settings.show_secondary_image }}___{{ section.settings.show_vendor }}___{{ section.settings.product_name_size }}___{{ section.settings.hover_underline }}___{{ section.settings.truncate_product_name }}___{{ section.settings.show_price }}___{{ section.id }}___{{ section.settings.heading_aligment }}___{{ settings.recently_viewed_products_limit }}___{{ section.settings.desktop_slider }}___{{ section.settings.desktop_slider_scroll_one }}___{{ section.settings.image_zoom_internal }}"
                          data-count="{{ settings.recently_viewed_products_limit }}"
                          >
  <div class="{{ page_width }}">
    {% if section.settings.background != 'hide' and section.settings.background_width == "content_width" %}<div class="section-background section-background--{{ section.settings.background_spacing }} border__radius mb--last-child-0">{%- endif -%}
      <div class="mb--last-child-0 recently-viewed-products-content">
        {%- render "section-heading" -%}
      </div>
    {% if section.settings.background != 'hide' and section.settings.background_width == "content_width" %}</div>{%- endif -%}
  </div>
</recently-viewed-products>

{%- if section.settings.show_button_quickview -%}
<script src="{{ 'quick-add.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.recently-viewed-products.name",
    "limit": 1,
  	"tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.recently-viewed-products.settings.paragraph.content"
      },      
      {
        "type": "header",
		"content": "t:sections.general.settings.header_section.content"
      },
	  {
		"type": "text",
		"id": "subheading",
		"default": "SUBHEADING",
		"label": "t:sections.general.settings.subheading.label"
	  },
	  {
		"type": "text",
		"id": "heading",
		"default": "Recently viewed products",
		"label": "t:sections.general.settings.heading.label"
	  },
	  {
		"type": "select",
		"id": "heading_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center",
		"label": "t:sections.general.settings.heading_aligment.label",
		"info": "t:sections.featured-collection.settings.heading_aligment.info"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "default",
            "label": "t:sections.general.settings.width.options__default.label"
          },
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "default",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "select",
        "id": "grid",
        "options": [
          {
            "value": "col-6",
            "label": "t:sections.general.settings.grid.options__2.label"
          },
          {
            "value": "col-4",
            "label": "t:sections.general.settings.grid.options__3.label"
          },
          {
            "value": "col-st-6 col-3",
            "label": "t:sections.general.settings.grid.options__4.label"
          },
          {
            "value": "col-md-4 col-one_fifth",
            "label": "t:sections.general.settings.grid.options__5.label"
          },
          {
            "value": "col-md-4 col-2",
            "label": "t:sections.general.settings.grid.options__6.label"
          }
        ],
        "default": "col-md-4 col-one_fifth",
        "label": "t:sections.general.settings.grid.label"
      },
      {
        "type": "select",
        "id": "desktop_slider",
        "options": [
          {
            "value": "none",
            "label": "t:sections.featured-collection.settings.desktop_slider.options__1.label"
          },
          {
            "value": "show",
            "label": "t:sections.featured-collection.settings.desktop_slider.options__2.label"
          },
          {
            "value": "show_mask",
            "label": "t:sections.featured-collection.settings.desktop_slider.options__3.label"
          }
        ],
        "default": "show_mask",
        "label": "t:sections.featured-collection.settings.desktop_slider.label"
      },
      {
        "type": "checkbox",
        "id": "desktop_slider_scroll_one",
        "default": false,
        "label": "t:sections.featured-collection.settings.desktop_slider_scroll_one.label"
      },
      {
        "type": "select",
        "id": "mobile_grid",
        "options": [
          {
            "value": "12",
            "label": "t:sections.general.settings.mobile_grid.options__1.label"
          },
          {
            "value": "6",
            "label": "t:sections.general.settings.mobile_grid.options__2.label"
          }
        ],
        "default": "6",
        "label": "t:sections.general.settings.mobile_grid.label"
      },
      {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "t:sections.general.settings.swipe_on_mobile.label"
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_products.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "auto",
			"label": "t:sections.general.settings.image_ratio.options__auto.label"
          },
          {
            "value": "0.75",
			"label": "t:sections.general.settings.image_ratio.options__portrait.label"
          },
          {
            "value": "1.333333",
			"label": "t:sections.general.settings.image_ratio.options__landscape.label"
          },
          {
            "value": "1",
			"label": "t:sections.general.settings.image_ratio.options__square.label"
          },
          {
            "value": "1, round-image",
            "label": "t:sections.general.settings.image_ratio.options__round.label"
          }
        ],
        "default": "1",
        "label": "t:sections.general.settings.image_ratio.label"
      },
      {
        "type": "checkbox",
        "id": "image_zoom_internal",
        "default": false,
		"label": "t:sections.general.settings.image_zoom_internal.label"
      },
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": true,
		"label": "t:sections.featured-collection.settings.show_secondary_image.label"
      },
	  {
		"type": "select",
		"id": "texts_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center",
		"label": "t:sections.general.settings.texts_aligment.label"
	  },
	  {
		"type": "select",
		"id": "product_name_size",
		"options": [
		  {
			"value": "normal",
			"label": "t:sections.general.settings.description_size.options__normal.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.description_size.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.featured-collection.settings.product_name_size.label"
	  },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
		"label": "t:sections.featured-collection.settings.show_vendor.label"
      },
      {
        "type": "checkbox",
        "id": "show_price",
        "default": true,
		"label": "t:sections.featured-collection.settings.show_price.label"
      },
      {
        "type": "checkbox",
        "id": "truncate_product_name",
        "default": false,
		"label": "t:sections.featured-collection.settings.truncate_product_name.label"
      },
      {
        "type": "checkbox",
        "id": "hover_underline",
        "default": false,
        "label": "t:sections.general.settings.hover_underline.label"
      },
      {
        "type": "checkbox",
        "id": "show_button_quickview",
        "default": true,
		"label": "t:sections.featured-collection.settings.show_button_quickview.label"
      },
      {
        "type": "checkbox",
        "id": "show_badge_on_sale",
        "default": true,
		"label": "t:sections.featured-collection.settings.show_badge_on_sale.label"
      },
      {
        "type": "checkbox",
        "id": "show_badge_sold_out",
        "default": true,
		"label": "t:sections.featured-collection.settings.show_badge_sold_out.label"
      },
      {
        "type": "checkbox",
        "id": "show_badge_feature",
        "default": true,
		"label": "t:sections.featured-collection.settings.show_badge_feature.label"
      },
      {
        "type": "header",
		"content": "t:sections.general.settings.header_colors.content"
      },
      {
        "type": "color",
        "id": "color_subheading",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.subheading.label"
      },
      {
        "type": "color",
        "id": "color_heading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.heading.label"
      },
      {
        "type": "color",
        "id": "color_swipe_buttons",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.color_swipe_buttons.label"
      },
      {
        "type": "paragraph",
		"content": "t:sections.featured-collection.settings.paragraph_product_colors.content"
      },
	  {
		"type": "color",
		"id": "color_meta",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.recently-viewed-products.settings.color_meta.label"
	  },
	  {
		"type": "color",
		"id": "color_all_elements",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.color_all_elements.label"
	  },
	  {
		"type": "color",
		"id": "color_price",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.color_price.label"
	  },
	  {
		"type": "color",
		"id": "color_save_price",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.color_save_price.label"
	  },
	  {
		"type": "color",
		"id": "color_button_quickview",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.featured-collection.settings.color_button_quickview.label"
	  },
      {
        "type": "header",
		"content": "t:sections.featured-collection.settings.header__1.content"
      },
	  {
		"type": "color",
		"id": "color_border_1",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.featured-collection.settings.color_border_1.label"
	  },
	  {
		"type": "color",
		"id": "color_border_2",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.featured-collection.settings.color_border_2.label"
	  },
      {
        "type": "header",
		"content": "t:sections.general.settings.header_background.content"
      },
	  {
		"type": "select",
		"id": "background",
		"options": [
		  {
			"value": "hide",
			"label": "t:sections.general.settings.background.options__hide.label"
		  },
		  {
			"value": "color",
			"label": "t:sections.general.settings.background.options__color.label"
		  },
		  {
			"value": "gradient",
			"label": "t:sections.general.settings.background.options__gradient.label"
		  }
		],
		"default": "hide",
		"label": "t:sections.general.settings.background.label"
	  },
	  {
		"type": "color",
		"id": "color_background",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.color_background.label"
	  },
      {
		"type": "color_background",
        "id": "gradient",
		"label": "t:sections.general.settings.gradient.label"
      },
	  {
		"type": "select",
		"id": "background_width",
		"options": [
		  {
			"value": "fullwidth",
			"label": "t:sections.general.settings.background_width.options__1.label"
		  },
		  {
			"value": "content_width",
			"label": "t:sections.general.settings.background_width.options__2.label"
		  }
		],
		"default": "fullwidth",
		"label": "t:sections.general.settings.background_width.label"
	  },
	  {
		"type": "select",
		"id": "background_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.background_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.background_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.background_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.background_spacing.options__normal.label"
          }
        ],
		"default": "normal",
		"label": "t:sections.general.settings.background_spacing.label"
	  },
      {
        "type": "checkbox",
        "id": "remove_bottom_spacing",
        "default": false,
		"label": "t:sections.general.settings.remove_bottom_spacing.label"
      }
	],
    "presets": [
      {
        "name": "t:sections.recently-viewed-products.presets.name",
        "category": "t:categories.products",
      }
    ]
  }
{% endschema %}