{%- render "section-background" section:section -%}
{%- capture section_styles -%}
{%- if section.settings.color_description != "rgba(0,0,0,0)" -%}
#minion-section-{{ section.id }} .text__description{
  color:{{section.settings.color_description}};
}
{%- endif -%}
{%- if section.settings.color_button != "rgba(0,0,0,0)" -%}
{%- assign accent_brightness = section.settings.color_button | color_extract: 'lightness' -%}
#minion-section-{{ section.id }} .btn{
  --background: {{ section.settings.color_button }};
  {%- if accent_brightness < 50 -%}
  --color: var(--auto-text-color-button-light);
  {%- else -%}
  --color: var(--auto-text-color-button-dark);
  {%- endif -%}
}
{%- endif -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>{{ section_styles }}</style>
{%- endif -%}

<div id="minion-section-{{ section.id }}" class="top-spacing-{{ section.settings.top_spacing }}{% if section.settings.background != 'hide' and section.settings.background_width == "fullwidth" %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="text">
  <div class="{% if section.settings.width != "default" %}{{ section.settings.width }}{% else %}{{ settings.page_width_main }}{% endif %}">
    {% if section.settings.background != 'hide' and section.settings.background_width == "content_width" %}<div class="section-background section-background--{{ section.settings.background_spacing }} border__radius">{%- endif -%}
    
    {%- liquid
      if section.settings.color_subheading != "rgba(0,0,0,0)"
      assign color_subheading = ' style="--color-subheading:' | append: section.settings.color_subheading | append: ';"'
      endif
      if section.settings.color_heading != "rgba(0,0,0,0)"
      assign color_heading = ' style="color:' | append: section.settings.color_heading | append: ';"'
      endif
    -%}
    <div class="grid justify-content-center">
      <div class="col-st-12 col-6 mt--first-child-0 mb--last-child-0 {{ section.settings.texts_aligment }}">
        {%- if section.settings.subheading != blank -%}<div class="subheading h5"{{ color_subheading }}>{{ section.settings.subheading }}</div>{%- endif -%}
        {%- if section.settings.heading != blank -%}
        {{ '<' | append: section.settings.heading_tag }} class="mt0 mb15"{{ color_heading }}>
        {{ section.settings.heading }}
        {{ '</' | append: section.settings.heading_tag }}>
        {%- endif -%}
        {%- if section.settings.description != blank -%}
        <div class="mt0 text__description section__richtext__editor mt--first-child-0{% if section.settings.description_size != "normal" %} {{ section.settings.description_size }}{% endif %}">
          {{ section.settings.description }}
        </div>
        {%- endif -%}
        {%- if section.settings.button_name != blank -%}
        <div class="mt30">
          <a{% if section.settings.button_url != blank %} href="{{ section.settings.button_url }}"{% endif %}
             class="btn btn_zoom btn--secondary w-full-sp{% if settings.enable_btn_with_arrow %} btn__animation-arrow{% endif %}"
             {% if section.settings.button_url == blank %} aria-disabled="true"{% endif %}>
            <span>{{ section.settings.button_name }}</span>
          </a>
        </div>
        {%- endif -%}
      </div>
    </div>
    
    {% if section.settings.background != 'hide' and section.settings.background_width == "content_width" %}</div>{%- endif -%}
    
  </div>
</div>

{% schema %}
  {
    "name": "Text",
  	"tag": "section",
    "disabled_on": {
      "groups": ["header"]
    },
    "settings": [
	  {
		"type": "text",
		"id": "subheading",
		"default": "SUBHEADING",
		"label": "t:sections.general.settings.subheading.label"
	  },
	  {
		"type": "text",
		"id": "heading",
		"default": "Text",
		"label": "t:sections.general.settings.heading.label"
	  },
      {
        "type": "richtext",
        "id": "description",
        "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
        "label": "t:sections.general.settings.description.label"
      },
      {
        "type": "header",
		"content": "t:sections.text.settings.header_button.content"
      },
	  {
		"type": "text",
		"id": "button_name",
		"default": "Button",
		"label": "t:sections.text.settings.button_name.label"
	  },
      {
        "type": "url",
        "id": "button_url",
		"label": "t:sections.text.settings.button_url.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "default",
            "label": "t:sections.general.settings.width.options__default.label"
          },
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "default",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "select",
        "id": "texts_aligment",
        "options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
        ],
        "default": "text-center",
        "label": "t:sections.general.settings.texts_aligment.label"
      },
	  {
		"type": "select",
		"id": "heading_tag",
		"options": [
		  {
			"value": "h1",
			"label": "t:sections.general.settings.heading_tag.options__h1.label"
		  },
		  {
			"value": "h2",
			"label": "t:sections.general.settings.heading_tag.options__small.label"
		  }
		],
		"default": "h2",
		"label": "t:sections.general.settings.heading_tag.label"
	  },
	  {
		"type": "select",
		"id": "description_size",
		"options": [
		  {
			"value": "normal",
			"label": "t:sections.general.settings.description_size.options__normal.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.description_size.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.general.settings.description_size.label"
	  },
    {
      "type": "header",
      "content": "t:sections.general.settings.header_colors.content"
    },
    {
      "type": "color",
      "id": "color_subheading",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.general.settings.subheading.label"
    },
    {
      "type": "color",
      "id": "color_heading",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.general.settings.heading.label"
    },
	  {
      "type": "color",
      "id": "color_description",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.general.settings.description.label"
	  },
	  {
      "type": "color",
      "id": "color_button",
      "default": "rgba(0,0,0,0)",
      "label": "t:sections.text.settings.header_button.content"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_background.content"
      },
      {
        "type": "select",
        "id": "background",
        "options": [
          {
            "value": "hide",
            "label": "t:sections.general.settings.background.options__hide.label"
          },
          {
            "value": "color",
            "label": "t:sections.general.settings.background.options__color.label"
          },
          {
            "value": "gradient",
            "label": "t:sections.general.settings.background.options__gradient.label"
          },
          {
            "value": "image",
            "label": "t:sections.general.settings.background.options__image.label"
          }
        ],
        "default": "hide",
        "label": "t:sections.general.settings.background.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'color' }}",
        "type": "color",
        "id": "color_background",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.color_background.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'gradient' }}",
	      "type": "color_background",
        "id": "gradient",
	      "label": "t:sections.general.settings.gradient.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.general.settings.background_image"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank }}",
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.general.settings.image_overlay_opacity",
        "default": 0
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank and section.settings.image_overlay_opacity > 0 }}",
        "type": "color",
        "id": "image_overlay_color",
        "default":"rgba(0,0,0,0)",
        "label": "t:sections.general.settings.image_overlay_color"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "t:sections.general.settings.background_image_mobile"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank }}",
        "type": "range",
        "id": "image_overlay_opacity_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.general.settings.image_overlay_opacity_mobile",
        "default": 0
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank and section.settings.image_overlay_opacity_mobile > 0 }}",
        "type": "color",
        "id": "image_overlay_color_mobile",
        "default":"rgba(0,0,0,0)",
        "label": "t:sections.general.settings.image_overlay_color_mobile"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "select",
        "id": "imagealign",
        "label": "t:sections.general.settings.imagealign.label",
        "info": "t:sections.general.settings.imagealign.info",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "t:sections.general.settings.imagealign.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.general.settings.imagealign.options__2.label"
          },
          {
            "value": "bottom",
            "label": "t:sections.general.settings.imagealign.options__3.label"
          }
        ]
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "select",
        "id": "imagesize",
        "label": "t:sections.general.settings.imagesize.label",
        "info": "t:sections.general.settings.imagesize.info",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "t:sections.general.settings.imagesize.options__1.label"
          },
          {
            "value": "contain",
            "label": "t:sections.general.settings.imagesize.options__2.label"
          }
        ]
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "select",
        "id": "background_width",
        "options": [
          {
            "value": "fullwidth",
            "label": "t:sections.general.settings.background_width.options__1.label"
          },
          {
            "value": "content_width",
            "label": "t:sections.general.settings.background_width.options__2.label"
          }
        ],
        "default": "fullwidth",
        "label": "t:sections.general.settings.background_width.label"
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "select",
        "id": "background_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.background_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.background_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.background_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.background_spacing.options__normal.label"
          }
        ],
        "default": "normal",
        "label": "t:sections.general.settings.background_spacing.label"
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "checkbox",
        "id": "remove_bottom_spacing",
        "default": false,
        "label": "t:sections.general.settings.remove_bottom_spacing.label"
      }
	  ],
    "presets": [
      {
      	"name": "Text",
        "category": "t:categories.storytelling"
      }
    ]
  }
{% endschema %}