{{ 'section-ticker.css' | asset_url | stylesheet_tag }}

{%- render "section-background" section:section -%}

{%- capture section_styles -%}
{%- if section.settings.color_svg != "rgba(0,0,0,0)" -%}
#minion-section-{{ section.id }} .ticker__icon svg path{
  fill: {{ section.settings.color_svg }};
}
{%- endif -%}
{%- if section.settings.color_text != "rgba(0,0,0,0)" -%}
#minion-section-{{ section.id }} p{
  color:{{section.settings.color_text}};
}
{%- else -%}
#minion-section-{{ section.id }} p{
  color:var(--color-base);
}
{%- endif -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>{{ section_styles }}</style>
{%- endif -%}

{%- if section.settings.url != blank -%}
{%- assign html_tag_open = '<a' | append: ' href="' | append: section.settings.url | append:'"' -%}
{%- assign html_tag_close = '</a>' -%}
{%- else -%}
{%- assign html_tag_open = '<div' -%}
{%- assign html_tag_close = '</div>' -%}
{%- endif -%}

{{ html_tag_open }} id="minion-section-{{ section.id }}" class="top-spacing-{{ section.settings.top_spacing }} display-block clear-underline{% if section.settings.background != 'hide' %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="ticker">  
  {%- capture content -%}
  {%- if section.settings.show_icon == 'image' and section.settings.image != blank -%}
  <div class="ticker__icon">
    {%- assign image = section.settings.image -%}
    {%- assign imagesize = section.settings.image.width | append: 'x' -%}
    {%- capture srcset -%}{{ section.settings.image | img_url: imagesize }} 1x, {{ section.settings.image | img_url: imagesize, scale: 2 }} 2x{%- endcapture -%}
    {{
      image
      | image_url: width: image.width
      | image_tag:
        loading: 'lazy',
        width: image.width,
        height: image.height,
        srcset: srcset
    }}
  </div>
  {%- elsif section.settings.show_icon == 'svg' and section.settings.icon_name != blank -%}
  <div class="ticker__icon svg-icon--small">
    {%- render 'icons-list' icon_name: section.settings.icon_name -%}
  </div>
  {%- endif -%}
  <div class="ticker__content section__richtext__editor mt--first-child-0">{{ section.settings.text }}</div>
  {%- endcapture -%}
  
  <ticker-section class="ticker {{ section.settings.text_size }}" style="--ticker-delay:{{ section.settings.ticker_time }}s">
    <div class="ticker__container {{ section.settings.direction }}">
      {{ content }}
    </div>
  </ticker-section>

  <noscript>
    <div class="ticker {{ section.settings.text_size }}" style="--ticker-delay:{{ section.settings.ticker_time }}s">
      {%- for i in (1..9) -%}
      <div class="ticker__container ticker--animation {{ section.settings.direction }}">
        {{ content }}
      </div>
      {%- endfor -%}
    </div>
  </noscript>
{{ html_tag_close }}

{% schema %}
  {
    "name": "t:sections.ticker.name",
  	"tag": "section",
    "disabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "range",
        "id": "ticker_time",
        "min": 3,
        "max": 30,
        "step": 1,
        "unit": "s",
		"label": "t:sections.ticker.settings.ticker_time.label",
        "default": 10
      },
	  {
		"type": "select",
		"id": "direction",
		"options": [
		  {
			"value": "ticker-to-left",
			"label": "t:sections.ticker.settings.direction.options__1.label"
		  },
		  {
			"value": "ticker-to-right",
			"label": "t:sections.ticker.settings.direction.options__2.label"
		  }        
		],
		"default": "ticker-to-left",
		"label": "t:sections.ticker.settings.direction.label"
	  },      
      {
        "type": "header",
        "content": "t:sections.ticker.settings.text.label"
      },
	  {
		"type": "select",
		"id": "text_size",
		"options": [
		  {
			"value": "ticker-text-2",
			"label": "t:sections.ticker.settings.text_size.options__1.label"
		  },
		  {
			"value": "ticker-text-3",
			"label": "t:sections.ticker.settings.text_size.options__2.label"
		  },
		  {
			"value": "ticker-text-4",
			"label": "t:sections.ticker.settings.text_size.options__3.label"
		  },
		  {
			"value": "ticker-text-5",
			"label": "t:sections.ticker.settings.text_size.options__4.label"
		  }          
		],
		"default": "ticker-text-5",
		"label": "t:sections.ticker.settings.text_size.label"
	  },
      {
        "type": "url",
        "id": "url",
        "label": "t:sections.ticker.settings.url.label",
        "info": "t:sections.ticker.settings.url.info"
      },      
      {
        "type": "richtext",
        "id": "text",
        "default": "<p><strong>ANNOUNCEMENT <\/strong>— Use this section to include scrolling announcement text<\/p>",
		"label": "t:sections.ticker.settings.text.label"
      },
	  {
		"type": "select",
		"id": "show_icon",
		"options": [
		  {
			"value": "none",
			"label": "t:sections.general.settings.show_icon.options__hide.label"
		  },
		  {
			"value": "image",
			"label": "t:sections.general.settings.show_icon.options__image.label"
		  },
		  {
			"value": "svg",
			"label": "t:sections.general.settings.show_icon.options__svg.label"
		  }
		],
		"default": "svg",
		"label": "t:sections.general.settings.show_icon.label"
	  },
	  {
		"type": "image_picker",
		"id": "image",
		"label": "t:sections.general.settings.image.label",
		"info": "t:sections.general.settings.show_icon.image_info"
	  },
	  {
		"type": "text",
		"id": "icon_name",
		"default": "advertising_sm",
		"label": "t:sections.general.settings.preset_icon.label"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_colors.content"
      },
	  {
		"type": "color",
		"id": "color_svg",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.ticker.settings.color_svg.label"
	  },
	  {
		"type": "color",
		"id": "color_text",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.ticker.settings.text.label"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_background.content"
      },
      {
        "type": "select",
        "id": "background",
        "options": [
          {
            "value": "hide",
            "label": "t:sections.general.settings.background.options__hide.label"
          },
          {
            "value": "color",
            "label": "t:sections.general.settings.background.options__color.label"
          },
          {
            "value": "gradient",
            "label": "t:sections.general.settings.background.options__gradient.label"
          },
          {
            "value": "image",
            "label": "t:sections.general.settings.background.options__image.label"
          }
        ],
        "default": "hide",
        "label": "t:sections.general.settings.background.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'color' }}",
        "type": "color",
        "id": "color_background",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.color_background.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'gradient' }}",
	      "type": "color_background",
        "id": "gradient",
	      "label": "t:sections.general.settings.gradient.label"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "image_picker",
        "id": "background_image",
        "label": "t:sections.general.settings.background_image"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank }}",
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.general.settings.image_overlay_opacity",
        "default": 0
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image != blank and section.settings.image_overlay_opacity > 0 }}",
        "type": "color",
        "id": "image_overlay_color",
        "default":"rgba(0,0,0,0)",
        "label": "t:sections.general.settings.image_overlay_color"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "t:sections.general.settings.background_image_mobile"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank }}",
        "type": "range",
        "id": "image_overlay_opacity_mobile",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.general.settings.image_overlay_opacity_mobile",
        "default": 0
      },
      {
        "visible_if": "{{ section.settings.background == 'image' and section.settings.background_image_mobile != blank and section.settings.image_overlay_opacity_mobile > 0 }}",
        "type": "color",
        "id": "image_overlay_color_mobile",
        "default":"rgba(0,0,0,0)",
        "label": "t:sections.general.settings.image_overlay_color_mobile"
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "select",
        "id": "imagealign",
        "label": "t:sections.general.settings.imagealign.label",
        "info": "t:sections.general.settings.imagealign.info",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "t:sections.general.settings.imagealign.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.general.settings.imagealign.options__2.label"
          },
          {
            "value": "bottom",
            "label": "t:sections.general.settings.imagealign.options__3.label"
          }
        ]
      },
      {
        "visible_if": "{{ section.settings.background == 'image' }}",
        "type": "select",
        "id": "imagesize",
        "label": "t:sections.general.settings.imagesize.label",
        "info": "t:sections.general.settings.imagesize.info",
        "default": "cover",
        "options": [
          {
            "value": "cover",
            "label": "t:sections.general.settings.imagesize.options__1.label"
          },
          {
            "value": "contain",
            "label": "t:sections.general.settings.imagesize.options__2.label"
          }
        ]
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "select",
        "id": "background_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.background_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.background_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.background_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.background_spacing.options__normal.label"
          }
        ],
        "default": "normal",
        "label": "t:sections.general.settings.background_spacing.label"
      },
      {
        "visible_if": "{{ section.settings.background != 'hide' }}",
        "type": "checkbox",
        "id": "remove_bottom_spacing",
        "default": false,
        "label": "t:sections.general.settings.remove_bottom_spacing.label"
      }
	  ],
    "presets": [
      {
      	"name": "t:sections.ticker.presets.name",
        "category": "t:categories.storytelling"
      }
    ]
  }
{% endschema %}